@import url("styles/header.css");

:root {
    --cor-de-fundo: #ffffff;
    --cor-fonte-principal: #02fcf3;
    --fonte: 'Poppins', sans-serif;
    --cor-cabecalho: #a9e4cf;
    --fonte-logo: 'Bebas Neue', sans-serif;
    --cor-logo: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-fonte-principal);
    font-family: var(--fonte);
}