.container__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}

.cabecalho__imagem {
    width: 7%;
    margin-left: 4em;
}

.cabecalho__navigation {
    display: flex;
    gap: 40px;
}

.cabecalho__navigation__item {
    text-decoration: none;
    color: var(--cor-cinza-escuro);
}

.cabecalho__contatos {
    margin-right: 3em;
}